html, body {
    height: 100%;
}

body {
    color: #444;
    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    padding: 0 20px;
}
